body {
  color: white;
  font-size: 100%;
  font-family: 'Arial';
  margin-left: 80px;
  margin-right: 80px;
    border: 1px solid white;
    background-color: black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
}
p {
    background-color: black
}
h1 {
    color: red;
    font-family: Helvetica;
}
h2 {
    color: red;
    font-family: Arial;
}
.Link { color: lightgray

}